spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true
    clean-disabled: false

management:
  tracing:
    enabled: false
  otlp:
    tracing:
      endpoint: http://localhost:4317

logging:
  level:
    root: INFO
    com.example.templatehomeservice: DEBUG
    org.testcontainers: INFO
